.border-multicolor-grid{
    position						: relative;
    width							: 100%;
	max-width						: 600px;
	margin-bottom					: 20px;
    &::before {
        content						: "";
        position					: absolute;
        left						: 0;
        right						: 0;
        top							: -8px;
        bottom						: 50%;
        border						: 8px solid #9E852E;
        border-radius				: 25px 25px 0 0;
        box-sizing					: border-box;
    }
    &__content{
        // border						: 1px solid red;
        padding						: 0;
		border-top-left-radius		: 16px;
		border-top-right-radius		: 16px;
        position					: relative;
        background					: transparent;
        z-index						: 3;
        box-sizing					: border-box;
		width						: calc(100% - 15px);
		margin						: 0 auto;
		overflow					: hidden;
    }
	&__img-container{
		//  border						: 1px solid red;
		 background: #a2a2a2;
	}
	&__img{
		width						: 100%;
		position					: relative;
		display						: block;
		top: 0;
	}
	&__label{
		margin						: 0;
		text-transform				: capitalize;
		border-top					: 7px solid white;
		background					: #000000;
		color						: #cccccc;
		font						: normal normal medium 12px/14px Poppins;
		min-height						: 50px;
		display						: flex;
		align-items					: center;
		justify-content				: center;
		text-align: center;
		padding: 3px 5px;
		border-bottom-left-radius	: 16px;
		border-bottom-right-radius	: 16px;
		@media (width >= 480px) {
			font					: normal normal medium 16px/17px Poppins;
			height					: 60px;
		}
		@media (width >= $m) {
			height					: 75px;
		}
	}
}
