.fighter-title-draws{
	&__title{
		text-align: center;
		font: normal normal 600 20px/21px Poppins;
		letter-spacing: -0.44px;
		color: #2C2E32;
		text-transform: uppercase;
		display: block;
		margin-bottom: 30px;
		@media (width >= $m) {
			font: normal normal 600 22px/23px Poppins;
		}
	}
	&__title-color{
		color: #9E852E;
	}
	&__icon-container{
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	&__data{
		position: absolute;
		top: 50%; 
		left: 50%; 	
		transform: translate(-50%, -50%);
		font-weight: normal;
		font-style: normal;
		font-size: 80px;
		line-height: 80px;
		font-family: Poppins;
		letter-spacing: -1.6px;
		color: #2C2E32;
	}
}
