// here start the css for the left side main menu
.dk-left-sidebar-menu{
	outline						: 1px solid var(--boder-layout);
	// border: 1px solid red;
	position					: relative;
	top							: 0;
	left						: 0;
	list-style					: none;
	margin						: 90px 0 0 0;
	padding						: 0 0 0 28px;
	height						: calc((100vh - var(--height-sub-menus)) - 50px);
	width						: 100%;
	@media (width >= $lg) {
		width						: var(--left-side-bar-width);
	}
	&__li{
		padding					: 0 0 0 22px;
		margin-bottom			: 15px;
		@media (width >= $lg) {
			margin-bottom		: 0;
		}
		
			&.arrow-sub-menu-main-mobile{
				&::after{
					content					: "";
					background-image		: url('images/menu-sub-acron.svg');
					background-repeat		: no-repeat;
					position				: relative;
					float					: right;
					width					: 10px;
					height					: 10px;
					top						: -25px;
					right					: 20px;
				}
			}
		
	}
	&__anchor{
		cursor					: pointer;
		position				: relative;
		display					: block;
		text-decoration			: none;
		font					: normal normal 600 19px/42px Poppins;
		letter-spacing			: -0.38px;
		color					: #1F2024;
		text-transform			: uppercase;
		@media (width >= $m) {
			font				: normal normal 600 15px/42px Poppins;
			letter-spacing		: -0.3px;
		}
		@media (width >= $l) {
			@media (hover: hover) and (pointer: fine) {
			&:hover{
				color				: #9E852E;
				text-decoration		: none;
				&::after {
					content			: "";
					display			: block;
					height			: 1px;
					background		: #9E852E;
					width			: 80%;
					position		: absolute;
					left			: 0;
					bottom			: 8px;
				}
				// &::before {
				// 	content			: "";
				// 	display			: block;
				// 	height			: 4px;
				// 	background		: #9E852E;
				// 	width			: 16px;
				// 	position		: absolute;
				// 	left			: -23px;
				// 	top				: 20px;
				// }
				
			}
			}
		}
		&.active{
			color				: #9E852E;
			&::before {
				content			: "";
				display			: block;
				height			: 4px;
				background		: #9E852E;
				width			: 16px;
				position		: absolute;
				left			: -23px;
				top				: 20px;
			}
		}
		
	}
	&.active{
		width					: var(--left-side-bar-width);
	}	
}
// here ends the css for the left side main menu



// here start the styles for the main menu input search 
.input-position-relative{
	position					: relative;
}
.close{
	display						: none;
	position					: absolute;
	top							: 40%;
	right						: 40px;
	transform					: scale(2);
	cursor						: pointer;
	&.active{
		display					: block;
	}
	@media (width >= $lg) {
		right					: 20px;
	}
}
.input-container{
	// border: 1px solid black;
	height						: 48px;
	width						: 100%;
    position					: relative;
    padding						: 0 16px 0 0;
	@media (width >= $lg) {
		width					: 168px;
		padding					: 0;
	}
}
.input-search-action{
	position					: relative;
	display						: block;
	text-decoration				: none;
	font						: normal normal 600 19px/42px Poppins;
	letter-spacing				: -0.3px;
	color						: #1F2024;
	text-transform				: uppercase;
	@media (width >= $l) {
		@media (hover: hover) and (pointer: fine) {
		&:hover{
		color					: #9E852E;
		text-decoration			: none;
			&::after {
				content				: "";
				display				: block;
				height				: 1px;
				background			: #9E852E;
				width				: 80%;
				position			: absolute;
				left				: 0;
				bottom				: 8px;
			}	
			// &::before {
			// 	content			: "";
			// 	display			: block;
			// 	height			: 4px;
			// 	background		: #9E852E;
			// 	width			: 16px;
			// 	position		: absolute;
			// 	left			: -23px;
			// 	top				: 20px;
			// }
			.search-visible{
				display				: none;
			}	
			.search-hover{
				display				: inline-block;
			}
		}
		}
	}
	
	&.active{
		color				: #9E852E;
		&::before {
			content			: "";
			display			: block;
			height			: 4px;
			background		: #9E852E;
			width			: 16px;
			position		: absolute;
			left			: -23px;
			top				: 20px;
		}
		.search-visible{
			display			: none;
		}	
		.search-hover{
			display			: inline-block;
		}
	}
	&__img{
		margin-left			: 5px;
		width				: 10px;
		transform					: scale(1.2);
	}
	.search-hover{
		display				: none;
	}	
	@media (width >= $m) {
		font				: normal normal 600 15px/42px Poppins;
	}
}

input.input-search-tag{
	position					: relative;
	display						: none;
	height						: 48px;
	width						: 100%;
	border						: 4px solid #9E852E;
	padding						: 15px 30px 15px 15px;
	&.active{
		display					: block;
	}
	
}

input.input-search-tag::placeholder{
	font						: normal normal normal 12px/26px Poppins;
	letter-spacing				: 0px;
	color						: #9E852E;
}
// here ends the styles for the main menu input search 





/* here start the styles for push-menu-container, 
here contains only the first level 
for the multi nivel menu*/
.push-menu-container{
	outline						: 1px solid var(--boder-layout);
	display						: none;
	position					: absolute;
	background					: white;
	width						: 100%;
	height						: 100%;
	top							: 0;
	z-index						: 1;
	left						: 0;

	&.active{
		// border: 1px solid black;
		display					: block;
		top						: -73px;
		width					: 100%;
		height: 100vh;
		@media (width >= $lg) {
			left				: calc(var(--left-side-bar-width) + 2px);	
			width				: calc(var(--left-side-bar-width) + 42px);
			// border: 1px solid red;
			
		}
	}
}
/* here ends the styles for push-menu-container, 
here contains only the first level 
for the multi nivel menu*/


/* here start the styles for 
btn-brand-back-desktop, 
here contains only the first 
level for the multi nivel menu*/
.btn-brand-back-desktop{
	font						: normal normal 600 27px/32px Poppins;
	letter-spacing				: -0.54px;
	color						: #2C2E32;
	position					: absolute;
	z-index						: 5;
	// border						: 1px solid red;
	display						: none;
	height						: 55px;
	background					: white;
	padding						: 15px 0 0 53px;
	z-index						: 80;
	top							: 0; 
	text-transform				: uppercase;
	// border						: 1px solid purple;
	width						: 100%;
	@media (width >= $lg) {
		width					: 100%;
		display					: block;
	}
}
/* here ends the styles for 
btn-brand-back-desktop, 
here contains only the first 
level for the multi nivel menu*/


/* here start the styles for 
btn-brand-back-mobile, 
here contains only the first 
level for the multi nivel menu for mobile*/
.btn-brand-back-mobile{
	font						: normal normal 600 27px/32px Poppins;
	letter-spacing				: -0.54px;
	color						: #2C2E32;
	position					: absolute;
	z-index						: 5;
	// border						: 1px solid red;
	display						: block;
	height						: 55px;
	background					: white;
	padding						: 15px 0 0 76px;
	z-index						: 80;
	top							: 0; 
	text-transform				: uppercase;
	// border						: 1px solid purple;
	width						: 100%;
	@media (width >= $lg) {
		width					: var(--left-side-bar-width);
		display					: none;
	}
	&::before{
		content					: "";
		background-image		: url('images/arrow-menu-normal.svg');
		background-repeat: no-repeat;
		position				: absolute;
		width					: 30px;
		height					: 30px;
		left					: 32px;
		top						: 40%;
		border					: 1px solid white;
	}	
}
/* here ends the styles for 
btn-brand-back-mobile, 
here contains only the first 
level for the multi nivel menu for mobile*/




/* here start the styles for 
multi-nivel-container, 
here contains only the first level 
for the multi nivel menu*/
.multi-nivel-container{
	// border: 2px solid red;
	position					: absolute;
	background					: white;
	width						: 100%;
	height						: 100%;
	top							: 0;
	left						: 0;
	z-index: 800;
	transform: translateX(100%);
	transition: transform 1ms ease-in;
	@media (width >= $lg) {
		width						: calc(var(--left-side-bar-width) + 48px);
	}
	&.active {
		transform: translateX(0%);
		
	}	
}
/* here ends the styles for 
multi-nivel-container, 
here contains only the first level 
for the multi nivel menu*/




/* here start the styles for 
sub-menu, here contains only 
the rest of the multi nivel menu*/
.sub-menu{
	// border						: 1px solid green;
	margin						: 0;
	padding						: 71px 60px 0 30px;
	list-style					: none;
	position					: absolute;
	width						: 100%;
	height						: calc((100vh - var(--height-sub-menus)) + 73px);
	background					: white;
	top							: 0;
	left						: 0;
	bottom						: 0;
	overflow-x					: hidden;
	overflow-y					: auto;
	background-image			: url('images/scroll-vertical-ico.svg');
    background-repeat			: no-repeat;
    background-position			: 96% 90px;
	@media (width >= $lg) {
		width					: calc(var(--left-side-bar-width) + 40px);
		padding						: 67px 0 0 0;
		background-image: none;
	}
	
	&__li{
		// border					: 1px solid green;
		position				: static;
		z-index					: 300;
		padding					: 0;
		padding					: 0;	
		margin					: 0 0 14px 0;
		@media (width >= $l) {
			@media (hover: hover) and (pointer: fine) {
			&:hover{
				background-color	: #dadce0;
			}
			}
		}
		&.arrow-sub-menu{
			&::after{
				content: "";
				background-image: url('images/menu-sub-acron.svg');
				background-repeat: no-repeat;
				position: relative;
				float: right;
				width: 10px;
				height: 10px;
				top: -28px;
				right: 10px;
			}
		}
	}
	&__anchor{ 
		height					: 50px;
		display					: block;
		position				: relative;
		text-decoration			: none;
		font					: normal normal 600 19px/23px Poppins;
		letter-spacing			: -0.38px;
		color					: #1F2024;
		text-transform			: uppercase;
		display					: flex;
		align-items				: center;
		padding					: 0 15px 0 50px;	
		// background-image		: url('images/nfl-helmet.svg');
		background-repeat		: no-repeat;
		background-position		: 5px 10px;
	}
	&__icon{
		width					: 25px;
		margin-right			: 10px;
	}
	&__btn-back{
		font					: normal normal 600 27px/32px Poppins;
		letter-spacing			: -0.54px;
		color					: #2C2E32;
		text-decoration			: none;
		
	}
	&.active{
		overflow: hidden;
	}
}

.sub-menu::-webkit-scrollbar {
	display						: none !important;
}

.sub-menu {
	scrollbar-color: #ffffff transparent;
	scrollbar-width: thin;
}
/* here ends the styles for 
sub-menu, here contains only 
the rest of the multi nivel menu*/


/* here start the styles for 
btn-brand-back-mn, for the rest 
multi nivel menu*/
.btn-brand-back-mn{
	cursor						: pointer;
	font						: normal normal 600 27px/32px Poppins;
	letter-spacing				: -0.54px;
	color						: #2C2E32;
	position					: absolute;
	z-index						: 5;
	// border						: 1px solid red;
	display						: block;
	width						: calc(var(--left-side-bar-width) + 100px);
	height						: 55px;
	background					: white;
	padding						: 15px 0 0 78px;
	@media (width >= $lg) {
		padding					: 15px 0 0 48px;
	}
	z-index						: 80;
	top							: 0; 
	text-transform				: uppercase;
	&::before{
		content					: "";
		background-image		: url('images/arrow-menu-normal.svg');
		background-repeat: no-repeat;
		position				: absolute;
		width					: 30px;
		height					: 30px;
		left					: 35px;
		top						: 38%;
		border					: 1px solid white;
		@media (width >= $lg) {
			left				: 5px;
		}
	}
	&__icon{
		margin-right			: 10px;
		position: relative;
		z-index: -2;
	}
	&__icon{
		width					: 30px;
		display					: inline;
		position				: relative;
		top						: 2px;
	}
	&__text{
		position: relative;
		z-index: -2;
	}
}
/* here ends the styles for 
btn-brand-back-mn, for the rest 
multi nivel menu*/

/* here start the styles for 
socialmedia, for the main menu*/
.social-media{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	&__li{
		padding: 10px 30px 10px 10px;	
	}
	&__li:first-child{
		padding: 10px 30px 10px 0;
	}
	&__li:last-child{
		padding: 10px 0 10px 10px;
	}
	&__anchor{
		text-decoration: none;		
	}
	&__anchor img{
		transform: scale(1);
	}
	@media (width >= $m) {
		justify-content: start;
		margin-left: 50px;
	}
}

/* here ends the styles for 
socialmedia, for the main menu*/
