.matchup-return-of-investment{
	&__container{
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
		@media (width >= $m) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}

	&__item{
		display: flex;
		align-items: center;
		box-shadow: 0px 2px 6px #0000001F;
		min-height: 112px;
		padding: 0 15px;
	}
	&__title-span{
		font: normal normal normal 29px/35px Poppins;
		letter-spacing: -0.82px;
		color: #CCCCCC;
		text-transform: uppercase;
		@media (width >= $m) {
			font: normal normal normal 41px/27px Poppins;
		}
	}
}
