.odds-compare{
    padding                     : 15px;
    border                      : 1px solid #7070701A;
    border-radius               : 16px;
    &__top-inputs{
        padding                 : 0 0 15px 0;
        display                 : flex;
        align-items             : center;
        justify-content         : flex-end;
        gap                     : 15px;
        flex-direction: column;
        @media (width >= $m) {
            flex-direction: row;
        }
    }
    &__day-picker{
        width                   : 230px;
        display                 : flex;
        align-items             : center;
        justify-content         : space-between;
    }
    &__day-picker-past-day, &__day-picker-next-day{
        cursor                  : pointer;
    }
    &__day-picker-label-day{
        font                    : normal normal 600 17px/28px Poppins;
		letter-spacing          : -0.34px;
		color                   : #1F2024;
		@media (width >= 760px) {
			font                : normal normal 600 23px/28px Poppins;
			letter-spacing      : -0.46px;
		}

    }
    &__grid-container {
        position                : relative;
        // border                  : 1px solid #000000;
        height                  : 400px; 
        overflow                : auto; 
        width                   : 100%;
        scrollbar-width         : none; 
        -ms-overflow-style      : none;
        &::-webkit-scrollbar {
            display             : none;
        }
    }
    &__grid-row {
        display                 : flex;
        flex-wrap               : nowrap;
        min-width               : max-content;
        position                : relative;
        gap                     : 15px;
        align-items             : flex-start;
        margin-bottom: 45px;
        
    }
    &__grid-row > &__grid-row-item:nth-child(2) &__grid-row-item-odds-values-color-pick{
        opacity: 0;
    }

    &__grid-row > &__grid-row-item:nth-child(2) &__grid-row-item-odds-value{
        &.bo-style{
            position: relative;
            padding-left: 25px;
            overflow: hidden;
            &::before{
                content: "";
                position: absolute;
                width: 32px;
                height: 100%;
                background: var(--bo-bg);
                left: 0;
                background-image: var(--bo-bg-image);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    &__grid-row > &__grid-row-item:first-child {
        background-color        : white;
        position                : sticky;
        left                    : 0;
        z-index                 : 12;
        width                   : 200px; 
        flex-basis              : auto; 
        flex-grow               : 0;
        border-radius           : 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        // border                  : 1px solid #E0E0E0;
        // border-radius           : 5px;
    }
    &__grid-row-item-teams{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 150px;
        height: 100px;
        // border: 1px solid red;
    }
    &__grid-row-item-teams-time{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__grid-row-item-teams-time-date{
        font-style: normal;
        font-variant: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 10px;
        font-family: 'Poppins';
        letter-spacing: 0px;
        color: #000000;
    }
    &__grid-row-item-teams-time-hour{
        font: normal normal 600 10px/10px Poppins;
        letter-spacing: 0px;
        color: #000000;
    }
    &__grid-row-item-team{
        position: relative;
        display: flex;
    }
    &__grid-row-item-team-logo{
        margin-right: 15px;
    }
    &__grid-row-item-team-info{
        display: flex;
        flex-direction: column;
        font: normal normal normal 15px/13px Poppins;
        letter-spacing: 0px;
        color: #242E3D;
    }
    &__grid-row-item-team-info-name{
        font: normal normal 600 15px/22px Poppins;
        letter-spacing: 0px;
        color: #242E3D;
    }
    &__grid-row:first-child{
        background-color        : white;
        position                : sticky;
        top                     : 0;
        z-index                 : 30;
        border-bottom           : 4px solid #E0E0E0;
        margin-bottom           : 15px;  
        height: 50px;  
    }

    &__grid-row:first-child > &__grid-row-item:nth-child(1) span{
        display: flex;
        align-items: center;
        font: normal normal 600 23px/28px Poppins;
        letter-spacing: -0.46px;
        color: #1F2024;
    }
    &__grid-row:first-child > &__grid-row-item:nth-child(1) span > img{
        margin-right: 10px;
    }
    
    &__grid-row:first-child > &__grid-row-item:nth-child(2) {
        font: normal normal 600 15px/27px Poppins;
        letter-spacing: -0.3px;
        color: #1F2024;
    }
    &__grid-row:first-child > &__grid-row-item:nth-child(n+3) {
        border-top-left-radius:8px;
        border-top-right-radius: 8px;
        overflow: hidden;
    }
    &__grid-row-item {
        width                   : 120px; 
        display                 : flex;
        align-items             : center;
        justify-content         : space-evenly;
        flex-basis              : auto; 
        flex-grow               : 0;
        flex-shrink             : 0; 
        min-height              : 32px;
        // border                  : 1px solid #E0E0E0;
        // border-radius           : 5px;
        font                    : normal normal normal 15px/27px Poppins;
        letter-spacing          : 0px;
        color                   : #919192;
    }
    &__grid-row-tile{
        background-color: pink;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
    }
    &__grid-row-item-odds-values{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        // border: 1px solid red;
        height: 100px;
        position: relative;
    }
    &__grid-row-item-odds-value{
        border                  : 1px solid #E0E0E0;
        border-radius           : 5px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }
    &__grid-row-item-odds-values-color-pick{
        width: 15px;
        height: 4px;
    }
    &__grid-row-item-value:first-child{
        font-weight: 600;
    }
    &__select-item{
        width                   : 100%;
		position                : relative;
		background-color        : #F3F3F3;	
		padding                 : 10px 20px;	
		border-radius           : 4px;
		font                    : normal normal 600 17px/28px Poppins;
		letter-spacing          : -0.34px;
		color                   : #1F2024;
		border                  : none;
		-webkit-appearance      : none;
		-moz-appearance         : none;
		appearance              : none;
		background-image        : url('images/triangle-bottom.svg');
		background-repeat       : no-repeat;
		background-position     : calc(100% - 10px) center;
        @media (width >= $m) {
            width: 200px;
        }
		&:focus-visible {
			outline             : none; 
		}
        font: normal normal 600 17px/28px Poppins;
		letter-spacing          : -0.34px;
		color                   : #1F2024;
		@media (width >= $m) {
			font                : normal normal 600 23px/28px Poppins;
			letter-spacing      : -0.46px;
		}
		
	}
}