//layout
:root {
	/*text set up*/
	--header-color: #1F2024;
	--paragraph-color: #1F2024;

	/*breakpoints*/
	--s: #{$s};
	--sm: #{$sm};
	--m: #{$m};
	--l: #{$l};
	--lg: #{$lg};
	--xl: #{$xl};
	--xxl: #{$xxl};
	--xxxl: #{$xxxl};
	--xxxxl: #{$xxxxl};
	--main-container: 3000px;
	--container: 1600px;

	/*palette colors*/
	--color-yellow: #FFB824;
	--color-orange: #FF9100;
	--color-orange-light: #FF4A00;
	--color-magenta: #F20059;
	--color-green: #3DF500;
	--color-green-dark: #00A652;
	--color-green-deep: #0B3D2E;
	--color-blue: #00BEDA;
	--color-purple: #7A29FF;
	--color-fuchsia: #BA1CFF;

	/*buttons & links*/
	--btn-primary: #8B852E;
	--btn-primary-hover: #736D2E;
	--btn-secondary: #7D7D7D;
	--btn-secondary-hover: #555454;
	--btn-text: #ffffff;
	--link-color: #8B852E;

	/* site shell (insiders) */
	--height-sub-menus: 198px;
	--main-background: white;
	--nav-spacer-height: 72px;
	--header-height: 100px;
	--header-top-spacer: 47px;
	--left-side-bar-width: 100%;
	--right-side-bar-width: 292px;
	--stiky-banner-width: 337px;
	--stiky-banner-height: 736px;
	--content-column-gap: 25px;
	--body-bg: #ffffff;

	@media (width >= $m) {
		--left-side-bar-width: 50%;
		--height-sub-menus: 253px;
	}

	@media (width >= $l) {
		--left-side-bar-width: 393px;
	}

	@media (width >= $lg) {
		--left-side-bar-width: 265px;
		--nav-spacer-height: 42px;
		--height-sub-menus: 286px;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	color: white;
	background: #9e852e;
}

strong {
	font-weight: 700;
}

.main-container {
	width: 100%;
	max-width: var(--main-container);
	margin: 0 auto;
	padding: 0 15px;
}

.container {
	width: 100%;
	max-width: var(--container);
	margin: 0 auto;
	padding: 0;
}
