@import 'tailwindcss';

@source "../pug/**/*.pug";
@source "../js/**/*.js";

@theme {
	--breakpoint-md: initial;
	--breakpoint-2xl: initial;
	--breakpoint-s: 0;
	--breakpoint-sm: 480px;
	--breakpoint-m: 800px;
	--breakpoint-l: 960px;
	--breakpoint-lg: 1300px;
	--breakpoint-xl: 1600px;
	--breakpoint-xxl: 1900px;
	--font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
}

:root {
	--bg-body: #ffffff;
	--base-color: steelblue;
	--header-height: 50px;
	--footer-height: 150px;
	--main-container: 3500px;
	--container: 1600px;
	--section-gap: 2.5rem;
	--first-color: #007bdf;
	--first-color-alt: #006dc6;
	--second-color: #00cbff;
	--second-color-alt: #00bff0;
	--third-color: #ff3c32;
	--third-color-alt: #ff2419;
	--storybook-divider: #c4887a;
	--paragraph-color: #1f2024;
	--link-color: #007bdf;
	--btn-primary: #007bdf;
	--btn-primary-hover: #006dc6;
	--btn-secondary: #7d7d7d;
	--btn-secondary-hover: #555454;
	--btn-text: #ffffff;

	--h1-size: 2rem;
	--h1-line: 2.5rem;
	--h2-size: 1.8125rem;
	--h2-line: 2.1875rem;
	--h3-size: 1.5rem;
	--h3-line: 1.8125rem;
	--h4-size: 1.25rem;
	--h4-line: 1.75rem;
	--h5-size: 1.0625rem;
	--h5-line: 1.6875rem;
	--h6-size: 0.875rem;
	--h6-line: 1.5625rem;
	--p-size: 0.9375rem;
	--p-line: 1.6875rem;
}

@media (width >= 800px) {
	:root {
		--header-height: 80px;
		--footer-height: 150px;
		--section-gap: 4rem;
		--h1-size: 2.5rem;
		--h1-line: 3.5rem;
		--h2-size: 2.5625rem;
		--h2-line: 3.0625rem;
		--h3-size: 1.6875rem;
		--h3-line: 2rem;
		--h4-size: 1.4375rem;
		--h4-line: 1.75rem;
		--h5-size: 1.1875rem;
		--h5-line: 1.4375rem;
		--h6-size: 0.9375rem;
		--h6-line: 1.6875rem;
		--p-size: 1rem;
		--p-line: 1.375rem;
	}
}

@layer base {
	html,
	body {
		font-family: var(--font-sans);
	}

	a {
		color: var(--link-color);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	::selection {
		color: white;
		background: var(--base-color);
	}
}
